.vscode/
Version.h
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cpp_cache
Makefile
compile_commands.json
.cache

# Catch2
generated-includes/
*.cmake
DartConfiguration.tcl
_deps/
Testing/
tests

!src/tests
